.main_card {
    display: flex;
}
.wrapper{
	color: #fff;
	width: 760px;
	height: 390px;
	margin: 50px auto;
	display: flex;
    flex-direction: column;
	max-width: 770px;
	background: #00C9FF; 
	background: linear-gradient(to right, #92FE9D, #00C9FF);  
	box-shadow: 0 0 40px rgba(0,0,0,0.3);
    animation: 1s ease-out 0s 1 slide;
}
.card_left {
	width: 90%;
}
.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
	height: 390px;
	border-radius: 2px;
    width: 100%;
    object-fit: cover;
}
.card_right {
	border-radius: 2px;
    width: 60%;
}

.card_cat {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.genre{
	color: fff;
	font-weight: bold;
	border-radius: 15px;
}
.disc {
	font-weight: 100;
	line-height: 23px;
	font-size: calc(8px + 0.5vw);
}
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 75%;
    width: 100%;
    position: absolute;
  }